@model IEnumerable<Book_Store.Models.Book>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

@if (!Model.Any())
{
    <p>We do not have any model yet</p>
}

else
{
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Books</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var books in Model)
            {
            <tr>
                <td>@books.Name</td>
                <td>@Html.ActionLink("Edit", "Edit", "Book", new { id = books.Id }, null)</td>
                <td>@Html.ActionLink("Delete", "Delete", "Book", new { id = books.Id }, null)</td>
            </tr>
            }
        </tbody>
    </table>
}